TUPLES (immutable sequence)

In [2]:
#Creating a tuple (can store mixed types)
t = ("one", 2, "one")

In [3]:
print("tuple t:", t)              
print("type(t):", type(t))         
print("len(t):", len(t))

tuple t: ('one', 2, 'one')
type(t): <class 'tuple'>
len(t): 3

In [4]:
# Indexing (same as list)
print("t[1]:", t[1])

t[1]: 2

In [5]:
# Slicing (same as list)
print("t[:]:", t[:])      # entire tuple         
print("t[::]:", t[::])  # entire tuple (step syntax)

t[:]: ('one', 2, 'one')
t[::]: ('one', 2, 'one')

In [6]:
# Tuple methods: index() and count()
print("t.index(2):", t.index(2))   # returns index of first match
print("t.count('one'):", t.count("one"))  # counts occurrences

t.index(2): 1
t.count('one'): 2

In [7]:
# Immutability: tuples can't be changed in-place
t[0] = "change"                # this will fail

TypeError: 'tuple' object does not support item assignment

In [8]:
# If you REALLY need to "add" items, you must create a NEW tuple
x = (1, 2, 3)
temp_list = list(x)                # convert tuple -> list (mutable)
temp_list.append(4)                # modify list
x = tuple(temp_list)               # convert back list -> tuple
print("Updated tuple x (via list conversion):", x)  # (1, 2, 3, 4)

Updated tuple x (via list conversion): (1, 2, 3, 4)

In [9]:
# When to use tuple:
# - fixed data that shouldn't change (days of week, month names, coordinates)
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print("days:", days)

days: ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

 SETS (unordered, unique elements)

In [10]:
# Create an empty set
s = set()
print("\nempty set s:", s)

empty set s: set()

In [11]:

# Add elements (duplicates are ignored)
s.add(3)
s.add(2)
s.add(2)                           # duplicate
s.add(1)
print("set after adds:", s)         # order may vary

set after adds: {1, 2, 3}

In [12]:

# Safe removal:
# discard() does NOT throw error if item not found
safe_set = {1, 2, 3}
safe_set.discard(5)                # no error
print("after discard(5):", safe_set)

after discard(5): {1, 2, 3}

In [13]:
# remove() DOES throw error if item not found
 safe_set.remove(5)

IndentationError: unexpected indent (1445232552.py, line 2)

In [14]:

# pop(): removes and returns a random element (because sets are unordered)
# (Don't rely on which element will be popped.)
pop_set = {1, 2, 3, 5, 6, 7, 87, 98}
popped_value = pop_set.pop()
print("popped value:", popped_value)
print("set after pop:", pop_set)

popped value: 1
set after pop: {2, 3, 98, 5, 6, 7, 87}

In [15]:
# clear(): empties the set
temp = {1, 2, 3}
temp.clear()
print("after clear:", temp)

after clear: set()

In [16]:
# Common real use: get unique items from a list
l = [1, 1, 2, 2, 3, 4, 5, 6, 1, 1]
unique_vals = set(l)
print("list:", l)
print("unique values (set):", unique_vals)

list: [1, 1, 2, 2, 3, 4, 5, 6, 1, 1]
unique values (set): {1, 2, 3, 4, 5, 6}

DICTIONARIES (mapping: key -> value)

In [17]:
# Construct a dictionary with {} and key:value
# NOTE: if you repeat a key, the last one wins (overwrites previous)
my_dict = {True: "value1", "key2": "value2", "key1": "valuedfvdfg", "key1": "abc"}
print("\nmy_dict:", my_dict)        # 'key1' becomes 'abc' because last assignment overwrote it
print("my_dict['key2']:", my_dict["key2"])

my_dict: {True: 'value1', 'key2': 'value2', 'key1': 'abc'}
my_dict['key2']: value2

In [18]:
# Dictionaries can store values of ANY type
my_dict2 = {
    "key1": 123,
    "key2": [12, 23, 33],           # list as a value
    "key3": ["item0", "item1", "item2"]
}
print("my_dict2['key1']:", my_dict2["key1"])
print("my_dict2['key3'][0]:", my_dict2["key3"][0])         # accessing inside list
print("upper():", my_dict2["key3"][0].upper())             # calling method on value

my_dict2['key1']: 123
my_dict2['key3'][0]: item0
upper(): ITEM0

In [19]:
# Updating values
my_dict2["key1"] = my_dict2["key1"] - 123                  # normal update
print("key1 after -123:", my_dict2["key1"])

key1 after -123: 0

In [20]:
# Shortcut operators (+=, -=, *=, /= etc.)
my_dict2["key1"] -= 123
print("key1 after -=123:", my_dict2["key1"])

key1 after -=123: -123

In [21]:
# Shortcut operators (+=, -=, *=, /= etc.)
my_dict2["key1"] -= 123
print("key1 after -=123:", my_dict2["key1"])

key1 after -=123: -246

In [22]:

# Adding keys by assignment (start empty and build up)
d = {}
d["animal"] = "joey"
d["answer"] = 42
print("built dictionary d:", d)

built dictionary d: {'animal': 'joey', 'answer': 42}

In [23]:
# Nesting dictionaries
nested = {"key1": {"nestkey": {"subnestkey": 123}}}
print("nested value:", nested["key1"]["nestkey"]["subnestkey"])

nested value: 123

In [24]:
# Basic dictionary methods
d2 = {"key1": 1, "key2": 2, "key3": 3}
print("\nd2 keys:", list(d2.keys()))            # keys() view -> list for display
print("d2 values:", list(d2.values()))          # values() view -> list for display
print("d2 items:", list(d2.items()))            # items() -> list of (key,value) tuples

d2 keys: ['key1', 'key2', 'key3']
d2 values: [1, 2, 3]
d2 items: [('key1', 1), ('key2', 2), ('key3', 3)]

DICTIONARY COMPREHENSION

In [27]:

# Build a dictionary quickly: number -> square of number
squares = {x: x**2 for x in range(1, 11)}
print("\ndict comprehension squares:", squares)

# Why dict comprehension can feel harder:
# - keys are not always directly based on values
# Example: make keys like "id_1", "id_2", ... (not just 1,2,3)
custom_keys = {f"id_{x}": x**2 for x in range(1, 6)}
print("custom key dict:", custom_keys)

dict comprehension squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
custom key dict: {'id_1': 1, 'id_2': 4, 'id_3': 9, 'id_4': 16, 'id_5': 25}

Shallow Copy

In [29]:
import copy

# Nested list
a = [[1, 2], [3, 4]]

# Make shallow copy
b = copy.copy(a)

# Change inner value
b[0][0] = 99

print("a:", a)
print("b:", b) #a and b point to same inner lists so both change

a: [[99, 2], [3, 4]]
b: [[99, 2], [3, 4]]

Because shallow copy:
Copies outer list
But inner lists are SHARED

DEEP COPY

In [30]:
import copy

# Nested list
a = [[1, 2], [3, 4]]

# Make deep copy
b = copy.deepcopy(a)

# Change inner value
b[0][0] = 99

print("a:", a)
print("b:", b)

a: [[1, 2], [3, 4]]
b: [[99, 2], [3, 4]]

Because deep copy:
Copies outer list
Copies inner lists
Nothing is shared